body
	background black
	background-image url(../img/fondo.png)
	background-repeat no-repeat
	background-size cover
	margin 0px

.imagen
	background-repeat no-repeat
	background-size 95%
/*manejo dle menu*/
.menu
	display flex
	justify-content center
	width 100%
	height 15vh
	&-escenas
		display flex
		justify-content space-between
		width 100%
		height 15vh
		&-escena
			width 8%
			height 13vh
			background-repeat no-repeat
			background-size 95%
			border-radius 6px
	
/*manejo de ids menu Escenas*/
#Escena1
	background-image: url(../img/images.jpg)
#Escena2
	background-image: url(../img/images.jpg)
#Escena3
	background-image: url(../img/images.jpg)
#Escena4
	background-image: url(../img/images.jpg)
#Escena5
	background-image: url(../img/images.jpg)
#Escena6
	background-image: url(../img/images.jpg)
#Escena7
	background-image: url(../img/images.jpg)

/*manejo del formulario*/
.padreform
	display flex
	flex-direction column
	width 100%
	height 100vh
	background black
	opacity 0.85
	&-encabezado
		display flex
		justify-content center
		width 100%
		height 20vh
		&-titulo
			background-image url(../img/titulo.png)
			width 25%
			height 20vh
	&-robot
		display flex
		justify-content center
		width 100%
		height 60vh
		&-img
			background-image: url(../img/robot-wellcome.png)
			width 25%
			height 60vh

	&-llenar
		width 100%
		height 20vh
		display flex
		justify-content center
	
	&-nombre
		width 25%
		height 15vh
		display flex
		flex-direction column
		justify-content space-between
		
		&-campo
			display flex
			justify-content space-around
			width 100%
			height 8vh
			
			&-logo1
				width 25%
				height 8vh
				background-image url(../img/eelogo1.png)
				background-repeat no-repeat
				background-size 70%
		
		&-boton
			width 100%
			height 5vh
			border-radius 6px	
			
		&-boton2
			width 25%
			height 5vh
			border-radius 6px

/*manejo de ids formulario*/

#EElogo1
	background-image url(../img/eelogo1.png)
#EElogo2
	background-image url(../img/eelogo2.png)
	background-size 100%
/*manejo de Escena 1*/

.padre
	display flex
	flex-direction column
	justify-content center
	width 100%
	height 85vh
	&-h1
		display flex
		justify-content center
		width 100% 
		height 42vh
		&-c1
			display flex
			justify-content center
			width 48%
			height 42vh
			&-img
				width 50%
				height 42vh
				background-repeat no-repeat
				background-size 80%
	&-h2
		display flex
		justify-content center
		width 100% 
		height 85vh
		&-img	
			width 30%
			height 85vh
			background-repeat no-repeat
			background-size 80%	
			position rigth
/*img segunda escena*/
			
	
/*manejo de ids escena1*/
#fondo
	display none
#menu
	display none	
#img1
	background-image url(../img/img1.png)		
#img2
	background-image url(../img/img2.png)
#img3
	background-image url(../img/img3.png)
#img4
	background-image url(../img/img4.png)
#img5
	background-image url(../img/img5.png)		
#img6
	background-image url(../img/img6.png)
#img7
	background-image url(../img/img7.png)

/*manejo de ids escena2*/
#fondo2
	display none
#img8
	background-image url(../img/img8.png)
#img9
	background-image url(../img/img9.png)
		
/*				
.padre
	display flex
	flex-direction column
	width 100%
	height 100vh
*/